<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GOWTHAM SIDDARTHA</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>Offline File Sharing App by GS</h1>
        <p>Choose a mode to get started:</p>
        <div class="buttons">
            <a href="/upload" class="btn">Send Files</a>
            <a href="/download" class="btn">Receive Files</a>
        </div>
        <p>Make sure the devices are connected to same wifi signal</p>
    </div>
</body>
</html>
